* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;

}